body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    align: center;  
}

.container {
  max-width: 260px;
  margin: 0 auto;
}

label {
  margin: 10px 0;
  display: block;
}

label input {
  float: right;
}
